USE [master]
GO
/****** Object:  Database [locations_db]    Script Date: 6/2/2025 2:41:51 AM ******/
CREATE DATABASE [locations_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dsa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dsa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dsa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dsa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [locations_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [locations_db]
GO
/****** Object:  Table [dbo].[costs]    Script Date: 6/2/2025 2:41:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[costs](
	[Vertex_1] [int] NOT NULL,
	[Vertex_2] [int] NOT NULL,
	[Method] [int] NOT NULL,
	[Distance] [float] NULL,
	[Time] [float] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_edge] PRIMARY KEY CLUSTERED 
(
	[Vertex_1] ASC,
	[Vertex_2] ASC,
	[Method] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 6/2/2025 2:41:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[ID] [int] NOT NULL,
	[name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[costs]  WITH CHECK ADD  CONSTRAINT [FK_edge_vertex1] FOREIGN KEY([Vertex_1])
REFERENCES [dbo].[location] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[costs] CHECK CONSTRAINT [FK_edge_vertex1]
GO
ALTER TABLE [dbo].[costs]  WITH CHECK ADD  CONSTRAINT [FK_edge_vertex2] FOREIGN KEY([Vertex_2])
REFERENCES [dbo].[location] ([ID])
GO
ALTER TABLE [dbo].[costs] CHECK CONSTRAINT [FK_edge_vertex2]
GO
ALTER TABLE [dbo].[costs]  WITH CHECK ADD CHECK  (([Method]=(3) OR [Method]=(2) OR [Method]=(1)))
GO
USE [master]
GO
